.gameSection {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 80px;
    height: 60vh;
    width: 100%;
  }

  .gameLeft {
    border: 2px solid #610261;
    flex: 1;
    border-radius: 50px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gameLeft video{
    border-radius: 50px;
    flex: 1;
    width: 40%;
    height: 49vh;
    object-fit: cover;
  }
  
  .gameRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    padding-left: 16px;
  }
  
  .gameRight h1 {
    font-size: 60px;
    background: linear-gradient(to right, #217bfe, #e55571);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .gameRight h2 {
    color: #540354;
  }
  
  .gameRight h3 {
    font-weight: 400;
    max-width: 70%;
  }
  
  .gameRight .btn {
    padding: 15px 25px;
    background-color: #370137;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    margin-top: 40px;
    text-decoration: none;
  }
  
  .gameRight .btn:hover {
    border: 2px solid #370137;
    padding: 10px 20px;
    margin-bottom: 7px;
    background-color: white;
    color: #370137;
    transition: all 0.5s ease-in-out;
  }